{% extends "dashboard/base.html" %}

{% block full-content %}
<div class="content">


    <div class="content">

        {% include "front/alerts.html" %}

        <div class="container-fluid">
            {% if envs|not-empty %}
            <div class="row  justify-content-center">
                <p>
                    <button class="btn btn-info btn-lg btn-just-icon" data-toggle="modal" data-target="#createenvModal">
                        <i class="material-icons">add</i> </button>
                </p>
            </div>
            {% endif %}

            <div class="row ">

                {% if envs|not-empty %}

                {% include "dashboard/envs/show_data.html" %}

                {% else %}

                {% include "dashboard/envs/show_welcome.html" %}

                {% endif %}

            </div>
        </div>
    </div>


    {% if show-update-modal %}
    <div id="showDashboardModal" data-target="updateenvModal"></div>
    {% endif %}


</div>

{% include "dashboard/envs/modals.html" %}


{% endblock %}


