<!-- Modal Create -->
<div class="modal fade" id="createenvModal" tabindex="-1" role="dialog"
     aria-labelledby="createenvModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 80% !important;" role="document">
        <div class="modal-content full-screen" >
            <div class="modal-header">
                <h5 class="modal-title" id="createenvModaltitle">Create Environment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form method="POST" action="/pass/groups/{{group.gid}}?view=envs">
                <div class="modal-body">
                    {% csrf-field %}

                    <input type="hidden" name="action" value="create"/>
                    <div class="form-group">
                        <input class="form-control input-sm" id="lbl" type="text" maxlength="100" name="lbl"
                               placeholder="Label"
                               data-toggle="tooltip" data-placement="top" title="(Alphanumeric and '_' '-' '/'])"

                               pattern="[A-Za-z_\-\/0-9]*"

                               maxlength="100"
                               autofocus
                               required>
                    </div>
                    <div class="form-group">
                        <input class="form-control input-sm" id="description" type="text" maxlength="200" name="description"
                               placeholder="Description"
                               data-toggle="tooltip" data-placement="top" title="Short env description"
                               maxlength="200">
                    </div>
                    <div class="d-flex flex-row-reverse">
                        <div class="p-2"><button id="insert-k8s-template" data-id="val"
                                                 data-val="#https://kubernetes.io/docs/concepts/configuration/secret/
apiVersion: v1
kind: Secret
metadata:
  name: <PutSecretNameHere>
  namespace: default
type: Opaque
stringData:
  username: mysecretname
"
                                                 type="button"
                                                 type="button" class="btn btn-sm btn-link" data-toggle="tooltip" title="Insert a Kubernetes Secret Yaml template" value="">K8S Secret</button></div>
                        <div class="p-2"><button id="insert-bash-template" data-id="val"
                                                 data-val="MyPass=SecretPass
MyPass2=SecretPass2"
                                                 type="button" type="button" class="btn btn-sm btn-link" data-toggle="tooltip" title="Insert a Bash environment variables template">Bash</button></div>
                    </div>
                    <div class="form-group">

                            <textarea class="form-control text-area boxsizingBorder"
                                      id="val" rows="10" maxlength="500000"
                                      name="val"></textarea>
                    </div>
                    <div class="d-flex flex-row-reverse">
                        <span id="validate-status" class="label label-default border-danger"></span>
                    </div>
                    <div class="d-flex flex-row-reverse">
                        <div class="p-2"><button id="validate-yaml" data-id="val" data-status="validate-status" type="button" class="btn btn-sm btn-link" data-toggle="tooltip" title="Validate Yaml content" value="">Validate Yaml</button></div>
                    </div>
                    <table>
                        <tr>
                            <td><input class="btn btn-secondary btn-sm" id="env-file" type="file"
                                       data-file-sync-reader="env-file"
                                       data-file-sync-area="val"/></td>
                            <td><button type="button" class="btn btn-sm"
                                        data-save-text-file="{{show-lbl}}.env"
                                        data-save-text-element="val">Download</button></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- Modal Update -->
<!--
This modal is special in that the show button requests a page where this modal
 is shown on load and has the values populated from the serverside
-->
<div class="modal fade {{show-action}}" id="updateenvModal" tabindex="-1"
     role="dialog" aria-labelledby="updateenvModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 80% !important;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateenvModaltitle">Update Environment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form method="POST" action="/pass/groups/{{group.gid}}?view=envs">
                <div class="modal-body">
                    {% csrf-field %}

                    <input type="hidden" name="action" value="update"/>

                    <input type="hidden" name="group-env-id" value="{{ show-id }}"/>

                    <div class="form-group">
                        <input class="form-control input-sm" id="new-lbl" type="text" maxlength="100" name="new-lbl"
                               value="{{show-lbl}}"
                               placeholder="Label"
                               data-toggle="tooltip" data-placement="top" title="(Alphanumeric and '_' '-' '/'])"

                               pattern="[A-Za-z_\-\/0-9]*"

                               maxlength="100"
                               autofocus
                               required>
                    </div>
                    <div class="form-group">
                        <input class="form-control input-sm" id="new-description" type="text" maxlength="200" name="new-description"
                               value="{{show-description}}"
                               placeholder="Description"
                               data-toggle="tooltip" data-placement="top" title="Short env description"

                               maxlength="200">
                    </div>
                    <div class="d-flex flex-row-reverse">
                        <div class="p-2"><button id="update-k8s-template" data-id="new-val"
                                                 data-val="#https://kubernetes.io/docs/concepts/configuration/secret/
apiVersion: v1
kind: Secret
metadata:
  name: <PutSecretNameHere>
  namespace: default
type: Opaque
stringData:
  username: mysecretname
"
                                                 type="button"
                                                 type="button" class="btn btn-sm btn-link" data-toggle="tooltip" title="Insert a Kubernetes Secret Yaml template" value="">K8S Secret</button></div>
                        <div class="p-2"><button id="update-bash-template" data-id="new-val"
                                                 data-val="MyPass=SecretPass
MyPass2=SecretPass2"
                                                 type="button" type="button" class="btn btn-sm btn-link" data-toggle="tooltip" title="Insert a Bash environment variables template">Bash</button></div>
                    </div>

                    <div class="form-group">
                            <textarea class="form-control"
                                      id="new-val" rows="10" maxlength="500000"
                                      name="new-val">{{show-val}}</textarea>
                    </div>
                    <div class="d-flex flex-row-reverse">
                        <span id="validate-status2" class="label label-default border-danger"></span>
                    </div>
                    <div class="d-flex flex-row-reverse">
                        <div class="p-2"><button id="validate-yaml2" data-id="new-val" data-status="validate-status2" type="button" class="btn btn-sm btn-link" data-toggle="tooltip" title="Validate Yaml content" value="">Validate Yaml</button></div>
                    </div>
                    <table>
                        <tr>
                            <td><input class="btn btn-secondary btn-sm" id="new-env-file" type="file"
                                       data-file-sync-reader="new-env-file"
                                       data-file-sync-area="new-val"/></td>
                            <td><button type="button" class="btn btn-sm"
                                        data-save-text-file="{{show-lbl}}.env"
                                        data-save-text-element="new-val">Download</button></td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>

            </form>
        </div>
    </div>
</div>
