<div class="col-md-12 ">
    <div class="card h-100">
        <div class="card-header card-header-icon card-header-info h-100">
            <div class="card-icon">
            <i class="material-icons">https</i>
            </div>
            <h1 class="card-title justify-content-center  text-secondary">Secrets</h1>
            <h2></h2>
        </div>
        <div class="card-body text-center h-100 ">

            <p>
                <button class="btn btn-danger btn-lg btn-just-icon" data-toggle="modal" data-target="#createSecretModal">
                    <i class="material-icons">add</i> </button>
            </p>

            <h4 class="text-capitalize "><b>To get started, click on the button to create a Secret.</b></h4>
            <p>
                Secrets are for data that have a label and secret information, like a Git Token, AWS Secret Key...
            </p>
        </div>
    </div>
</div>