<!-- Modal -->
<div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="createGroupModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createGroupModaltitle">Create a Safe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="/pass/groups">
                <div class="modal-body">
                    {% csrf-field %}
                    <div class="form-group">
                        <label for="name">Name (A short descriptive label name)</label>
                        <input class="form-control input-sm" id="name" type="text" name="name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-info create_first_safe_create_btn">Create</button>
                </div>

            </form>
        </div>
    </div>
</div>
