{% extends "base.html" %}


{% block full-content %}


<div class="page-header header-filter page-login">
    <div class="container">
        {% include "front/alerts.html" %}

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">

                <form class="form" method="post" action="mfa">
                    {% csrf-field %}
                    <div class="card card-login card-hidden">
                        <div class="card-header card-header-danger text-center">
                            <h4 class="card-title">MFA code Required</h4>

                        </div>
                        <div class="card-body ">
                            <span class="bmd-form-group">

                </span>
                            <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">https</i>
                      </span>
                    </div>
                    <input class="form-control form-control-lg"
                           id="mfa-code"
                           type="text"
                           placeholder="MFA code"
                           autocomplete="off"
                           name="mfa-code" maxlength="6" minlength="6">
                  </div>
                </span>

                        </div>
                        <div class="card-footer justify-content-center">
                            <input type="submit" class="btn btn-rose btn-link btn-lg" value="Confirm"/>

                        </div>
                        <div>


                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>


</div>


{% include "front/footer.html" %}

{% endblock %}

{% block page-scripts %}

{% endblock %}