{% extends "dashboard/base.html" %}

{% block full-content %}
<div class="content">


    <div class="content">

        {% include "front/alerts.html" %}

        <div class="container-fluid">
            {% if logins|not-empty %}
            <div class="row  justify-content-center">
                <p>
                    <button class="btn btn-info btn-lg btn-just-icon" data-toggle="modal" data-target="#createloginModal">
                        <i class="material-icons">add</i> </button>
                </p>
            </div>
            {% endif %}

            <div class="row ">

                {% if logins|not-empty %}

                {% include "dashboard/logins/show_data.html" %}

                {% else %}

                {% include "dashboard/logins/show_welcome.html" %}

                {% endif %}

            </div>
        </div>
    </div>

</div>

{% include "dashboard/logins/modals.html" %}

{% endblock %}


