
<!-- Modal Create -->
<div class="modal fade" id="createSecretModal" tabindex="-1" role="dialog" aria-labelledby="createSecretModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"   role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createSecretModaltitle">Add DB</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form method="POST" action="/pass/groups/{{group.gid}}?view=dbs">
                <div class="modal-body">
                    {% csrf-field %}

                    <input type="hidden" name="action" value="create"/>

                    <div class="form-group">
                        <label for="lbl">Label</label>
                        <input class="form-control input-sm" id="lbl" type="text" name="lbl"
                               data-toggle="tooltip" data-placement="top" title="(Alphanumeric and '_' '-' '/'])"

                               pattern="[A-Za-z_\-\/0-9]*"

                               maxlength="100"
                               autofocus
                               required>
                    </div>
                    <div class="form-group t-1">
                        <div for="type" class="text-muted small">Database Type</div>
                        <select class="selectpicker form-control" data-live-search="true" id="type" name="type">
                            <option>Other</option>
                            <option>Postgres</option>
                            <option>MySQL</option>
                            <option>Redis</option>
                            <option>MariaDB</option>
                            <option>Redsfhit</option>
                            <option>Oracle</option>
                            <option>SQL Server</option>
                            <option>Hive</option>
                            <option>Athena</option>
                            <option>MongoDB</option>
                            <option>Cassandra</option>
                            <option>DSE</option>
                            <option>CockroachDB</option>
                            <option>Couchbase</option>
                        </select>
                    </div>
                    <div class="form-group t-1"></div>
                    <div class="form-group">
                        <label for="hosted-on">Hosted On</label>
                        <input class="form-control input-sm d-sm-inline-flex" id="hosted-on" type="text" maxlength="500"
                               name="hosted-on">
                    </div>
                    <div class="form-group">
                        <label for="host">Host Address</label>

                        <input class="form-control input-sm d-sm-inline-flex" id="host" type="text" maxlength="500"
                               name="host">
                    </div>
                    <div class="form-group">
                        <label for="port">Port</label>

                        <input class="form-control input-sm d-sm-inline-flex" id="port" type="text" maxlength="50"
                               type="number" step="1" pattern="\d+"
                               name="port">
                    </div>
                    <div class="form-group">
                        <label for="database">Database Name</label>

                        <input class="form-control input-sm d-sm-inline-flex" id="database" type="text" maxlength="500"
                               name="database">
                    </div>
                    <div class="form-group">
                        <label for="dbuser">User Name</label>

                        <input class="form-control input-sm d-sm-inline-flex" id="dbuser" type="text" maxlength="500"
                               name="dbuser">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>

                        <input class="form-control input-sm d-sm-inline-flex" id="password" type="text" maxlength="500"
                               type="password"
                               name="password">
                        <button type="button" class="btn btn-link d-sm-inline" data-toggle="tooltip" data-placement="top"
                                title="Click to generate a password"
                                data-pass-gen-btn="password">
                            Generate Password
                        </button>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-info">Create</button>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- Modal Update -->
<div class="modal fade" id="updatedbModal" tabindex="-1" role="dialog" aria-labelledby="updateDBModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateDBModaltitle">Update DB Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form method="POST" action="/pass/groups/{{group.gid}}?view=dbs">
                <div class="modal-body">
                    {% csrf-field %}

                    <input type="hidden" name="action" value="update"/>
                    <input type="hidden" name="group-db-id" value="{{ show-id }}"/>

                    <div class="form-group">
                        <input class="form-control input-sm" id="new-lbl" type="text" name="new-lbl"
                               placeholder="Label"
                               value="{{show-lbl}}"
                               data-toggle="tooltip" data-placement="top" title="(Alphanumeric and '_' '-' '/'])"

                               pattern="[A-Za-z_\-\/0-9]*"

                               maxlength="100"
                               autofocus
                               required>
                    </div>
                    <div class="form-group">
                        <select class="form-control selectpicker" data-live-search="true" id="new-type" name="new-type">
                            <option>Other</option>
                            <option {% ifequal "Postgres" show-type  %}selected{% endifequal %}>Postgres</option>
                            <option {% ifequal "MySQL" show-type  %}selected{% endifequal %}>MySQL</option>
                            <option {% ifequal "Redis" show-type  %}selected{% endifequal %}>Redis</option>
                            <option {% ifequal "MariaDB" show-type  %}selected{% endifequal %}>MariaDB</option>
                            <option {% ifequal "Redshift" show-type  %}selected{% endifequal %}>Redsfhit</option>
                            <option {% ifequal "Oracle" show-type  %}selected{% endifequal %}>Oracle</option>
                            <option {% ifequal "SQL Server" show-type  %}selected{% endifequal %}>SQL Server</option>
                            <option {% ifequal "Hive" show-type  %}selected{% endifequal %}>Hive</option>
                            <option {% ifequal "Athena" show-type  %}selected{% endifequal %}>Athena</option>
                            <option {% ifequal "MongoDB" show-type  %}selected{% endifequal %}>MongoDB</option>
                            <option {% ifequal "Cassandra" show-type  %}selected{% endifequal %}>Cassandra</option>
                            <option {% ifequal "DSE" show-type  %}selected{% endifequal %}>DSE</option>
                            <option {% ifequal "CockroachDB" show-type  %}selected{% endifequal %}>CockroachDB</option>
                            <option {% ifequal "Couchbase" show-type  %}selected{% endifequal %}>Couchbase</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control input-sm d-sm-inline-flex" id="new-hosted-on" type="text" maxlength="500"
                               placeholder="Hosted On"
                               value="{{show-hosted-on}}"
                               name="new-hosted-on">
                    </div>
                    <div class="form-group">
                        <input class="form-control input-sm d-sm-inline-flex" id="new-host" type="text" maxlength="500"
                               placeholder="Host localhost"
                               value="{{show-val.host}}"
                               name="new-host">
                    </div>
                    <div class="form-group">
                        <input class="form-control input-sm d-sm-inline-flex" id="new-port" type="text" maxlength="50"
                               placeholder="Port"
                               type="number" step="1" pattern="\d+"
                               value="{{show-val.port}}"
                               name="new-port">
                    </div>
                    <div class="form-group">
                        <input class="form-control input-sm d-sm-inline-flex" id="new-database" type="text" maxlength="500"
                               placeholder="Database"
                               value="{{show-val.database}}"
                               name="new-database">
                    </div>
                    <div class="form-group">
                        <input class="form-control input-sm d-sm-inline-flex" id="new-dbuser" type="text" maxlength="500"
                               placeholder="User"
                               value="{{show-val.dbuser}}"
                               name="new-dbuser">
                    </div>
                    <div class="form-group">
                        <input class="form-control input-sm d-sm-inline-flex" id="new-password" type="text" maxlength="500"
                               placeholder="Password"
                               type="password"
                               value="{{show-val.password}}"
                               name="new-password">
                        <button type="button" class="btn btn-link d-sm-inline" data-toggle="tooltip" data-placement="top"
                                title="Click to generate a password"
                                data-pass-gen-btn="password">
                            Generate Password
                        </button>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-info">Update</button>
                </div>

            </form>
        </div>
    </div>
</div>

