{% extends "dashboard/base.html" %}

{% block full-content %}
<div class="content">


    <div class="content">

        {% include "front/alerts.html" %}

        <div class="row">
            {% include "dashboard/settings/tabmenu.html" %}
        </div>

        <div class="row">

            {% include "dashboard/settings/resettokens/show_data.html" %}

        </div>
    </div>

</div>

{% include "dashboard/settings/resettokens/modals.html" %}


{% endblock %}





{% block page-scripts %}

{% endblock %}
