<footer class="footer footer-black">

    <div class="container-fluid">
        <div class="row align-self-start">
            <div class="col-1"></div>
            <div class="col text-left text-capitalize">
                <h5>PKHUB</h5>
                <h6><a href="https://pkhub.io">Home Page</a></h6>
                <!--<h6><a href="/">How It Works</a></h6>-->
                <h6><a href="https://pkhub.io/register?plan=1&p=year">Go Pro</a></h6>
                <h6><a href="https://pkhub.io/pricing">Pricing</a></h6>

            </div>
            <!--<div class="col text-left text-capitalize">-->
            <!--<h5>FOR BUSINESS</h5>-->
            <!--<h6><a href="/">Overview</a></h6>-->
            <!--<h6><a href="/">Teams</a></h6>-->
            <!--</div>-->

            <div class="col text-left text-capitalize">
                <h5>FEATURES</h5>
                <!--<h6><a href="/">CI/CD</a></h6>-->
                <h6><a href="https://pkhub.io/usecases/environments">Environments</a></h6>
                <!--<h6><a href="/">Postgres & Mysql</a></h6>-->
                <h6><a href="https://docs.pkhub.io/docker">Docker</a></h6>
                <h6><a href="https://docs.pkhub.io/kubernetes/">Kubernetes</a></h6>
                <h6><a href="https://pkhub.io/usecases/aws_accounts">AWS</a></h6>
            </div>
            <div class="col text-left text-capitalize">
                <h5>ABOUT US</h5>
                <h6><a href="https://docs.pkhub.io/">Blog</a></h6>
                <h6><a href="https://docs.pkhub.io/privacy/">Privacy Statement</a></h6>
                <h6><a href="https://docs.pkhub.io/termsofservice/">Terms of Service</a></h6>

            </div>

            <div class="col text-left text-capitalize">
                <h5>CUSTOMER SUPPORT</h5>
                <h6><a href="https://pkhub.io/support">Help & Support</a></h6>
            </div>
            <div class="col text-left text-capitalize">
                <h5>GET PK</h5>
                <h6><a href="/usecases/cli_setup">Install the PK CLI</a></h6>
            </div>

        </div>

        <hr>
        <div class="copyright float-right" id="copyright">

        </div>
    </div>

    <!--<div class="mfes-trustmark" data-type="102" data-width="90" data-height="37"></div>-->

</footer>